.colored-box {
  position: fixed;
  z-index: 999;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  width: 200px;
  height: 400px;
}

.adbanner1 {
  background-color: #DC143C; /* Crimson */
  top: 100px;
  right: 100px;
}

.adbanner2 {
  background-color: #1E90FF; /* DodgerBlue */
  top: 510px;
  right: 100px;
}

.adbanner3 {
  background-color: #00FF7F; /* SpringGreen */
  top: 100px;
  left: 100px;
}

.adbanner4 {
  top: 510px;
  left: 100px;
}
