<style>
  /* 입력 필드 공통 스타일 */
  input[type="text"],
  textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      box-sizing: border-box;
      font-size: 14px;
  }
  /* 버튼 스타일링 */
  .btn {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      width: 50%;
  }
  </style>

<a href="/allEvent">&larr; 뒤로</a>
<div class="admin-title">
  <h2>
    <%= locals.title %>
  </h2>
</div>

<form action="/add_event" method="POST">
  <label for="thumbnail"><b>썸네일</b></label>
  <input type="text" placeholder="썸네일 이미지 URL" name="thumbnail" id="thumbnail">
  
  <label for="title"><b>제목</b></label>
  <input type="text" placeholder="게시물 제목" name="title" id="title">

  <label for="script"><b>내용</b></label>
  <textarea placeholder="게시물 내용" name="script" cols="50" rows="10"></textarea>

  <input type="submit" value="등록" class="btn">
</form>
