<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-locals.title %> Avopic</title>    
    <!-- 공통 스타일 -->
    <link rel="stylesheet" href="/css/common.css">    
    <!-- 메인페이지 관련 -->
    <link rel="stylesheet" href="/css/mainpage/home_board.css">    
    <!-- 공통 파트 요소들 -->
    <link rel="stylesheet" href="/css/parts/header.css">
    <link rel="stylesheet" href="/css/parts/sidebar.css">
    <link rel="stylesheet" href="/css/parts/footer.css">
    <link rel="stylesheet" href="/css/parts/adbanner.css">
    <link rel="stylesheet" href="/css/parts/pagenation.css">    
    <!-- 상세 페이지 스타일 -->
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/css/detail/detail-mart.css">    
    <!-- 각 페이지별 스타일 -->
    <link rel="stylesheet" href="/css/page/about.css">
    <link rel="stylesheet" href="/css/page/archive.css">
    <link rel="stylesheet" href="/css/page/notice.css">
    <link rel="stylesheet" href="/css/page/program.css">
    <link rel="stylesheet" href="/css/page/mart.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- adbanner adbanner adbanner adbanner  -->
                <%# include('../include/_adbanner') %>
                <!-- header header header header  -->
                <%- include('../include/_header', { member: locals.member || member }) %>
                    <div class="main-content">
                        <!-- sidebar sidebar sidebar sidebar  -->
                        
                            <!-- product product product product  -->
                            <div class="content-wrapper">
                                <div class="detail-banner">
                                    <a href="/join">
                                        <img src="http://qkrcjfals88.mireene.kr/Home%28Banner..%29/mainbanner_1200_150.jpg" alt="배너">
                                    </a>
                                </div>
                                <%- body %>
                                    <!-- footer footer footer footer  -->
                                    <%- include('../include/_footer') %>
                            </div>
                    </div>
        </div>
    </div>
</body>

</html>