body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    color: inherit;
    /* 링크의 글씨 색을 상속받도록 설정 */
    text-decoration: none;
    /* 밑줄 제거 */
}

a:visited {
    color: inherit;
    /* 클릭 후에도 글씨 색 유지 */
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    /* 링크 클릭, 호버 시에도 밑줄 제거 */
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-content {
    max-width: 1200px;
    display: flex;
    padding: 20px 0;
    margin: 0 auto;      /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
    justify-content: center;  /* flex 아이템들을 가운데 정렬 */
}

.content-wrapper {
    max-width: 1000px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;  /* 가로 방향 가운데 정렬 */
}