.detail-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
}

.detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.detail-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.detail-date {
    font-size: 14px;
    color: #888;
}

.detail-thumbnail-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.detail-thumbnail {
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: block;  /* block 요소로 설정 */
    margin: 0 auto;  /* 좌우 여백을 자동으로 설정하여 중앙 정렬 */
}

.detail-script {
    font-size: 14px;
    line-height: 1.6;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    white-space: pre-line; 
}

.detail-banner {
    width: 1200px;
    height: 150px;
    overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 */
    margin: 20px 0 0;
}

.detail-banner img {
    width: 1200px;
    height: 150px;
    object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너에 맞춤 */
}

.detail-nav-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail-nav-button {
    padding: 5px 10px;
    margin-left: 12px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    transition: all 0.3s ease;
}

.detail-nav-button:hover {
    background-color: #f5f5f5;
    border-color: #999;
}