<!-- views/include/_adbanner.ejs -->
<div class="adbanner">
  <div class="colored-box adbanner1">Tomato<br>#FF6347</div>
  <div class="colored-box adbanner2">SteelBlue<br>#4682B4</div>
  <div class="colored-box adbanner3">LimeGreen<br>#32CD32</div>
</div>