<!-- views/include/_footer.ejs -->
<div class="footer">
    <div class="company-info">
        <p>Avopic</p>
    </div>
    <div class="company-info">
        <p>Email : abcd@gmail.com</p>
    </div>
    <div class="top-link">
        <a href="#">TOP</a>
    </div>
</div>