<!-- views/include/_header.ejs -->
<div class="header">
  <div class="header-content">
      <div class="sale-banner">Welcome Gamasan page</div>
      <div class="user-actions">
          <a href="#">Login</a><span>|</span><a href="#">Join</a><span>|</span><a href="#">Cart</a>
      </div>
  </div>
</div>