/* 관리자 타이틀 스타일 */
.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0;
  }
  
  .admin-title h2 {
    font-size: 24px;
    color: #2c3e50;
  }
  
  .button {
    background-color: #3498db;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  
  /* 프로그램 리스트 스타일 */
  .admin-events {
    list-style-type: none;
    padding: 0;
  }
  
  .admin-events li {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 0 10px;
    height: 40px; /* 높이 줄임 */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .event-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .event-content a {
    font-size: 16px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
    min-width: 500px;  /* 제목 영역 넓히기 */
  }
  
  .event-content a:hover {
    color: #3498db;
  }
  
  .event-datetime {
    font-size: 14px;
    color: #7f8c8d;
    min-width: 200px;
  }
  
  
  /* 관리자 컨트롤 버튼 스타일 */
  .admin-event-controls {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .btn-delete {
    background-color: #e74c3c;
    color: white;
  }
  
  form {
    margin: 0;
  }